* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 95%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
}

h1 {
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    color: rgb(0, 0, 41);
}


